<section class="section apps-section">
    <div class="content">
        <img class="phone-img" src="./images/phones.svg">
        <div class="right-wrapper">
            <h1 class="h1">Download Our App for Any Devices:</h1>
            <article class="info-wrapper">
                <div class="text-wrapper">
                    <p class="text-m">App Store</p>
                    <div class="star-wrapper"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <h4 class="h4">Editor's Choice</h4>
                    <p class="text-m">rating 4.7, 187K+ reviews</p>
                </div>
                <img class="applogo-img" src="./images/appstore.svg">
            </article>
            <article class="info-wrapper">
                <div class="text-wrapper">
                    <p class="text-m">Google Play</p>
                    <div class="star-wrapper"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                    <h4 class="h4">App of the Day</h4>
                    <p class="text-m">rating 4.8, 30K+ reviews</p>
                </div>
                <img class="applogo-img" src="./images/googleplay.svg">
            </article>
        </div>
    </div>
</section>