<section class="section banner-section">
    <div class="content">
        <div class="text-wrapper">

            <p class="text-lead">Ready to get started?</p>
            <h1 class="h1">Take Your <span class="span-skills">Skills</span> to the Next Level</h1>
            <a class="btn-theme-s btn">Work with us</a>
        </div>
        <div class="img-wrapper">
            <img src="./images/illustration_skills.svg" alt="" />
        </div>
    </div>
</section>