<section class="section benefits-section">
    <div class="content">
        <h1 class="h1">What Do You Get with Our Tool?</h1>
        <p class="text-l">Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        <div class="card-wrapper">
            <article class="card">
                <i class="fa-regular fa-comments"></i>
                <h5 class="h5">Comments on Tasks</h5>
                <p class="text-m">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </article>
            <article class="card">
                <i class="fa-solid fa-display-chart-up"></i>
                <h5 class="h5">Tasks Analytics</h5>
                <p class="text-m">Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </article>
            <article class="card">
                <i class="fa-solid fa-users-medical"></i>
                <h5 class="h5">Multiple Assignees</h5>
                <p class="text-m">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </article>
            <article class="card">
                <i class="fa-solid fa-bell"></i>
                <h5 class="h5">Notifications</h5>
                <p class="text-m">Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </article>
            <article class="card">
                <i class="fa-regular fa-ballot-check"></i>
                <h5 class="h5">Sections & Subtasks</h5>
                <p class="text-m">Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </article>
            <article class="card">
                <i class="fa-regular fa-shield-halved"></i>
                <h5 class="h5">Data Security</h5>
                <p class="text-m">Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </article>
        </div>
    </div>
</section>