<section class="section content-section">
    <div class="content">
        <img class="dashboard-img" src="./images/dashboard.svg">
        <div class="right-wrapper">
            <h2 class="h2">Manage Your Work</h2>
            <div class="row"><i class="fa-regular fa-octagon-check"></i><p class="text-m">Powerful project management</p></div>
            <div class="row"><i class="fa-regular fa-octagon-check"></i><p class="text-m">Transparent work management</p></div>
            <div class="row"><i class="fa-regular fa-octagon-check"></i><p class="text-m">Manage work & focus on the most important tasks</p></div>
            <div class="row"><i class="fa-regular fa-octagon-check"></i><p class="text-m">Track your progress with interactive charts</p></div>
            <div class="row  last-text"><i class="fa-regular fa-octagon-check"></i><p class="text-m">Easiest way to track time spent on tasks</p></div>
            <a class="btn-theme btn">Learn more</a>
        </div>
    </div>
</section>