<section class="section contact-section">
    <div class="content contact-content">
        <div class="right-wrapper">
            <div class="heading-wrapper">
                <h1 class="h1">Contact Us</h1>
            </div>

            <article class="contact-way-wrapper">
                <div class="icon-wrapper">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div class="text-wrapper">
                    <h4 class="h4">Email us</h4>
                    <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                    <a href="/">Leave a message <i class="fa-regular fa-arrow-right"></i></a>
                </div>
            </article>
            <article class="contact-way-wrapper">
                <div class="icon-wrapper">
                    <i class="fa-light fa-users-medical"></i>
                </div>
                <div class="text-wrapper">
                    <h4 class="h4">Careers</h4>
                    <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                    <a href="/">Send an application <i class="fa-regular fa-arrow-right"></i></a>
                </div>
            </article>

        </div>
        <form class="form-wrapper">
            <h2 class="h2">Get In Contact With Us</h2>
            <div class="input-wrapper">
                <div class="input-top-wrapper">
                    <label class="h6 label">Label</label>
                    <span class="text-s span"></span>
                </div>
                <input placeholder="Placeholder" class="input" />
            </div>
            <div class="input-wrapper">
                <div class="input-top-wrapper">
                    <label class="h6 label">Label</label>
                    <span class="text-s span"></span>
                </div>
                <input placeholder="Placeholder" class="input" />
            </div>
            <div class="input-wrapper">
                <div class="input-top-wrapper">
                    <label class="h6 label">Label</label>
                    <span class="text-s span"></span>
                </div>
                <input placeholder="Placeholder" class="input" />
            </div>
            <div class="input-wrapper">
                <div class="input-top-wrapper">
                    <label class="h6 label">Label</label>
                    <span class="text-s span"></span>
                </div>
                <textarea class="input"></textarea>
            </div>
            <button class="btn-theme-s">Send Contact Request</button>
        </form>
    </div>
</section>
<section class="map-section">
    <img src="/images/map.svg" alt="" class="bg" />
</section>
