
<section class="section courses-section">
    <div class="content">
        <div class="heading-wrapper">
            <h1 class="h1">Courses</h1>
            <div class="input-wrapper">

                <select class="input">
                    <option>All categories</option>
                </select>
                <div class="search-wrapper">
                    <input type="text" class="input" placeholder="Search courses" />
                    <i class="fa-regular fa-magnifying-glass"></i>
                </div>

            </div>
        </div>
        <div class="card-wrapper">
            <partial name="~/Views/Partials/Sections/_CourseCardSection.cshtml" />
        </div>
        <div class="pagination-wrapper"><i class="fa-regular fa-chevron-left"></i><span class="page-number">1</span><span class="page-number active">2</span><span class="page-number">3</span><i class="fa-regular fa-chevron-right"></i></div>
    </div>
</section>