<section class="section hero-section">
    <img src="./images/hero.svg" alt="" class="hero-img">
    <div class="content">
        <div class="left-wrapper">
            <p class="d4">Task Management Assistant You Gonna Love</p>
            <p class="text-l">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
            <a class="btn-theme-s btn button-link">Get started for free</a>
            <p class="h6">Largest companies use our tool to work efficiently</p>
            <div class="logo-wrapper">
                <img class="logo" src="./images/logo1.svg">
                <img class="logo" src="./images/logo2.svg">
                <img class="logo" src="./images/logo3.svg">
                <img class="logo" src="./images/logo4.svg">
            </div>
        </div>
    </div>
</section>