<section class="section tools-section">
    <div class="content">
        <h1 class="h1">Integrate Top Work Tools</h1>
        <p class="text-l">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        <div class="card-wrapper">
            <article class="tool-card">
                <img class="tool-img" src="./images/color1.svg">
                <p class="text-m">Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
            </article>
            <article class="tool-card">
                <img class="tool-img" src="./images/color2.svg">
                <p class="text-m">In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
            </article>
            <article class="tool-card">
                <img class="tool-img" src="./images/color3.svg">
                <p class="text-m">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </article>
            <article class="tool-card">
                <img class="tool-img" src="./images/color4.svg">
                <p class="text-m">Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
            </article>
            <article class="tool-card">
                <img class="tool-img" src="./images/color5.svg">
                <p class="text-m">Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
            </article>
            <article class="tool-card">
                <img class="tool-img" src="./images/color6.svg">
                <p class="text-m">A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </article>
            <article class="tool-card">
                <img class="tool-img" src="./images/color7.svg">
                <p class="text-m">Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
            </article>
            <article class="tool-card">
                <img class="tool-img" src="./images/color8.svg">
                <p class="text-m">Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </article>
        </div>
    </div>
</section>