@import "./sections/header";
@import "./sections/hero";
@import "./sections/benefits";
@import "./sections/slider";
@import "./sections/content";
@import "./sections/apps";
@import "./sections/tools";
@import "./sections/subscribe";
@import "./sections/signin";
@import "./sections/signout";
@import "./sections/footer";
@import "./sections/courses";
@import "./sections/breadcrumbs";
@import "./sections/forms";
@import "./sections/error";
@import "./sections/contact";
@import "./sections/singleCourse";
