@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
.text-xs {
  font-size: 12px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
}

.text-s {
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
}

.text-m {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
}

.text-l {
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
}

.text-xl {
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
}

.text-lead {
  font-size: 24px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
}

.d1 {
  font-size: 80px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0b0f19;
}

.d2 {
  font-size: 72px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0b0f19;
}

.d3 {
  font-size: 64px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0b0f19;
}

.d4 {
  font-size: 56px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0b0f19;
}

.d5 {
  font-size: 48px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0b0f19;
}

.d6 {
  font-size: 42px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0b0f19;
}

.h1 {
  font-size: 40px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0b0f19;
}

.h2 {
  font-size: 32px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0b0f19;
}

.h3 {
  font-size: 28px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0b0f19;
}

.h4 {
  font-size: 24px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0b0f19;
}

.h5 {
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0b0f19;
}

.h6 {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  color: #0b0f19;
}

.nav-text {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: #33354d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  min-height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 90%;
}
@media (min-width: 992px) {
  .content {
    max-width: 1296px;
  }
}

.shadow-s {
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
}

.shadow-m {
  box-shadow: 0px 4px 9px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
}

.shadow-l {
  box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06), 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1);
}

.shadow-theme {
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
}

.shadow-theme-secondary {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
}

.alert {
  background-color: rgba(239, 68, 68, 0.3);
  color: #ef4444;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.alert .icon {
  font-size: 24px;
}

.btn-theme {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
  text-decoration: none;
  flex-grow: 0;
  font-family: inherit;
  background: #6366f1;
  color: #ffffff;
  border: none;
}
.btn-theme:hover {
  background: #565973;
  color: #ffffff;
}

.btn-theme-s {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
  text-decoration: none;
  flex-grow: 0;
  font-family: inherit;
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  background: #6366f1;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 13px;
}
.btn-theme-s:hover {
  box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
  background: #565973;
  color: #ffffff;
}

.btn-gray {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
  text-decoration: none;
  flex-grow: 0;
  font-family: inherit;
  background: #eff2fc;
  color: #33354d;
  border: none;
}
.btn-gray:hover {
  background: #565973;
  color: #ffffff;
}

.btn-transparent {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
  text-decoration: none;
  flex-grow: 0;
  font-family: inherit;
  background: transparent;
  color: #33354d;
  border: none;
}
.btn-transparent:hover {
  background: #565973;
  color: #ffffff;
}

.btn-red {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
  text-decoration: none;
  flex-grow: 0;
  font-family: inherit;
  background: #ef4444;
  color: #ffffff;
  border: none;
}
.btn-red:hover {
  background: #565973;
  color: #ffffff;
}

.btn-red-white {
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
  text-decoration: none;
  flex-grow: 0;
  font-family: inherit;
  background: #ffffff;
  color: #ef4444;
  border: 1px solid #ef4444;
}
.btn-red-white:hover {
  background: #ef4444;
  color: #ffffff;
  border: 1px solid #ef4444;
}

.btn-switch,
.mobile-btn-switch {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-switch .switch,
.mobile-btn-switch .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 25px;
}
.btn-switch .switch input,
.mobile-btn-switch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.btn-switch .switch input:checked + .slider,
.mobile-btn-switch .switch input:checked + .slider {
  background-color: #6366f1;
}
.btn-switch .switch input:focus + .slider,
.mobile-btn-switch .switch input:focus + .slider {
  box-shadow: 0 0 1px #6366f1;
}
.btn-switch .switch input:checked + .slider:before,
.mobile-btn-switch .switch input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #ffffff;
}
.btn-switch .switch .slider,
.mobile-btn-switch .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #565973;
  transition: 0.4s;
  border-radius: 34px;
}
.btn-switch .switch .slider:before,
.mobile-btn-switch .switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2.7px;
  background-color: #ffffff;
  transition: 0.4s;
  border-radius: 50%;
}

.btn-social {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  background-color: #eff2fc;
  color: #33354d;
}
.btn-social:hover {
  text-decoration: none;
  background: #565973;
  color: #ffffff;
}

a {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  color: #6366f1;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}

.menu-link {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: #33354d;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
}
.menu-link:hover, .menu-link:active, .menu-link:focus,
.menu-link .active {
  color: #6366f1;
  text-decoration: none;
}

.success {
  background-color: rgba(34, 197, 94, 0.3);
  color: #22c55e;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.success .icon {
  font-size: 24px;
}

.header-section {
  position: relative;
}
.header-section .content {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-section .content .left-wrapper .link-wrapper {
  display: none;
}
@media (min-width: 992px) {
  .header-section .content .left-wrapper {
    display: flex;
    align-items: center;
    gap: 48px;
  }
  .header-section .content .left-wrapper .link-wrapper {
    display: flex;
    gap: 24px;
  }
}
.header-section .content .mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: #e2e5f1;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 10%;
}
.header-section .content .mobile-menu .mobile-top {
  display: flex;
  flex-direction: column;
}
.header-section .content .mobile-menu .mobile-top .mobile-menu-btn {
  font-size: 40px;
  align-self: flex-end;
}
.header-section .content .mobile-menu .mobile-top .mobile-links-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}
.header-section .content .mobile-menu .mobile-top .mobile-links-wrapper .menu-link {
  text-align: center;
  padding: 20px;
  width: 100%;
}
.header-section .content .mobile-menu .mobile-top .mobile-links-wrapper .menu-link:hover {
  background-color: #33354d;
  color: #ffffff;
}
.header-section .content .mobile-menu .mobile-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-section .content .mobile-menu .mobile-bottom .mobile-btn-switch {
  align-self: flex-start;
  margin: 50px 0;
}
.header-section .content .mobile-menu .mobile-bottom .mobile-btn-wrapper {
  width: 100%;
  display: flex;
  gap: 20px;
  padding-bottom: 60px;
}
.header-section .content .mobile-menu .mobile-bottom .mobile-btn-wrapper a {
  display: flex;
  align-items: center;
  gap: 8px;
  width: calc(50% - 10px);
}
.header-section .content .mobile-menu .mobile-bottom .mobile-btn-wrapper a .profile-img {
  width: 30px;
  height: 30px;
}
.header-section .content .right-wrapper .mobile-menu-btn {
  font-size: 40px;
}
@media (min-width: 992px) {
  .header-section .content .right-wrapper .mobile-menu-btn {
    display: none;
  }
}
.header-section .content .right-wrapper .btn-switch {
  display: none;
}
.header-section .content .right-wrapper .btn-wrapper {
  display: none;
}
@media (min-width: 992px) {
  .header-section .content .right-wrapper {
    display: flex;
    gap: 32px;
  }
  .header-section .content .right-wrapper .btn-switch {
    display: flex;
  }
  .header-section .content .right-wrapper .btn-wrapper {
    display: flex;
    gap: 16px;
  }
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.hero-section {
  position: relative;
  min-height: 100vh;
  display: flex;
}
.hero-section .hero-img {
  width: 80%;
  align-self: flex-end;
}
@media (min-width: 992px) {
  .hero-section .hero-img {
    position: absolute;
    top: 5%;
    right: 0;
    z-index: -1;
    width: 55%;
  }
}
@media (min-width: 1200px) {
  .hero-section .hero-img {
    top: 10%;
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .hero-section .hero-img {
    top: 0;
    width: 55%;
  }
}
.hero-section .content {
  display: flex;
}
@media (min-width: 992px) {
  .hero-section .content {
    margin-top: 96px;
  }
}
.hero-section .content .left-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 992px) {
  .hero-section .content .left-wrapper {
    width: 70%;
    padding-right: 120px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .hero-section .content .left-wrapper {
    width: 60%;
  }
}
@media (min-width: 1400px) {
  .hero-section .content .left-wrapper {
    width: 50%;
  }
}
.hero-section .content .left-wrapper .text-l {
  margin-top: 32px;
}
.hero-section .content .left-wrapper .btn {
  margin-top: 48px;
  align-self: center;
}
@media (min-width: 992px) {
  .hero-section .content .left-wrapper .btn {
    align-self: flex-start;
  }
}
.hero-section .content .left-wrapper .h6 {
  margin-top: 96px;
}
.hero-section .content .left-wrapper .logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .hero-section .content .left-wrapper .logo-wrapper {
    justify-content: flex-start;
  }
}
.hero-section .content .left-wrapper .logo-wrapper .logo {
  flex-grow: 0;
}

.benefits-section {
  background-color: #f3f6ff;
  text-align: center;
  padding: 89px 0 163px 0;
}
.benefits-section .text-l {
  margin-top: 24px;
}
.benefits-section .card-wrapper {
  display: grid;
  grid-template-rows: auto;
  margin-top: 32px;
}
@media (min-width: 576px) {
  .benefits-section .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .benefits-section .card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
.benefits-section .card-wrapper .card {
  padding: 40px;
  border: none;
  border-radius: 0;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: #f3f6ff;
}
@media (min-width: 576px) {
  .benefits-section .card-wrapper .card:nth-child(2n+1) {
    border-left: none;
  }
  .benefits-section .card-wrapper .card:nth-child(-n+2) {
    border-top: none;
  }
}
@media (min-width: 992px) {
  .benefits-section .card-wrapper .card:nth-child(2n+1) {
    border-left: 1px solid #ccc;
  }
  .benefits-section .card-wrapper .card:nth-child(-n+2) {
    border-top: 1px solid #ccc;
  }
  .benefits-section .card-wrapper .card:nth-child(3n+1) {
    border-left: none;
  }
  .benefits-section .card-wrapper .card:nth-child(-n+3) {
    border-top: none;
  }
}
.benefits-section .card-wrapper .card i {
  color: #6366f1;
  font-size: 40px;
  margin-bottom: 24px;
}
.benefits-section .card-wrapper .card .text-m {
  margin-top: 12px;
}
.benefits-section .card-wrapper .card:hover {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
}

.slider-section {
  position: relative;
  padding: 110px 0;
}
.slider-section .bg {
  width: 50%;
  height: 100%;
  background-color: #0b0f19;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 110px 0;
}
.slider-section .bg .h1 {
  width: 100%;
  color: #ffffff;
  text-align: right;
  padding-right: 10px;
}
.slider-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-section .content .h1 {
  width: 100%;
  padding-left: calc(50% + 10px);
}
.slider-section .content .mockup-img {
  margin-top: 72px;
  width: 100%;
  object-fit: contain;
  z-index: 2;
}
@media (min-width: 992px) {
  .slider-section .content .mockup-img {
    width: 90%;
  }
}

.content-section .content {
  display: flex;
  flex-direction: column;
  padding: 82px 0;
}
@media (min-width: 768px) {
  .content-section .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.content-section .content .dashboard-img {
  width: 100%;
}
@media (min-width: 768px) {
  .content-section .content .dashboard-img {
    width: 55%;
  }
}
.content-section .content .right-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  .content-section .content .right-wrapper {
    width: 35%;
  }
}
.content-section .content .right-wrapper .h2 {
  margin-bottom: 32px;
  align-self: center;
}
@media (min-width: 768px) {
  .content-section .content .right-wrapper .h2 {
    align-self: flex-start;
  }
}
.content-section .content .right-wrapper .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.content-section .content .right-wrapper .fa-octagon-check {
  margin-bottom: 4px;
  color: #6366f1;
}
.content-section .content .right-wrapper .text-m {
  padding: 6px 0;
}
.content-section .content .right-wrapper .last-text {
  margin-bottom: 40px;
}
.content-section .content .right-wrapper .btn {
  align-self: center;
}
@media (min-width: 768px) {
  .content-section .content .right-wrapper .btn {
    align-self: flex-start;
  }
}

.apps-section {
  background-color: #f3f6ff;
}
.apps-section .content {
  display: flex;
  flex-direction: column;
  padding: 56px 0;
}
@media (min-width: 992px) {
  .apps-section .content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.apps-section .content .phone-img {
  width: 70%;
  object-fit: contain;
  align-self: center;
}
@media (min-width: 992px) {
  .apps-section .content .phone-img {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .apps-section .content .phone-img {
    width: 40%;
  }
}
.apps-section .content .right-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}
@media (min-width: 992px) {
  .apps-section .content .right-wrapper {
    width: 35%;
  }
}
.apps-section .content .right-wrapper .h1 {
  text-align: center;
}
@media (min-width: 992px) {
  .apps-section .content .right-wrapper .h1 {
    text-align: start;
  }
}
.apps-section .content .right-wrapper .info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
@media (min-width: 992px) {
  .apps-section .content .right-wrapper .info-wrapper {
    align-self: self-start;
  }
}
@media (min-width: 1200px) {
  .apps-section .content .right-wrapper .info-wrapper {
    flex-direction: row;
  }
}
.apps-section .content .right-wrapper .info-wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.apps-section .content .right-wrapper .info-wrapper .text-wrapper .star-wrapper {
  color: #ffba08;
}

.tools-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 94px 0;
}
.tools-section .content .h1 {
  text-align: center;
}
.tools-section .content .text-l {
  text-align: center;
  padding: 24px 0 56px 0;
}
@media (min-width: 992px) {
  .tools-section .content .text-l {
    width: 70%;
  }
}
.tools-section .content .card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.tools-section .content .card-wrapper .tool-card {
  width: 100%;
  padding: 24px;
  margin: 10px;
  border-radius: 8px;
}
@media (min-width: 576px) {
  .tools-section .content .card-wrapper .tool-card {
    width: calc(50% - 20px);
  }
}
@media (min-width: 768px) {
  .tools-section .content .card-wrapper .tool-card {
    width: calc(33.33% - 20px);
  }
}
@media (min-width: 992px) {
  .tools-section .content .card-wrapper .tool-card {
    width: calc(25% - 20px);
  }
}
.tools-section .content .card-wrapper .tool-card:hover {
  border-radius: 8px;
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
}

.subscribe-section {
  background-color: #f3f6ff;
}
.subscribe-section .content {
  max-width: 857px;
  padding: 96px 0;
}
.subscribe-section .content .top-wrapper {
  display: flex;
  margin-bottom: 48px;
  gap: 27px;
}
.subscribe-section .content .middle-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
@media (min-width: 992px) {
  .subscribe-section .content .middle-wrapper {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  .subscribe-section .content .middle-wrapper .h5 {
    width: 35%;
  }
}
.subscribe-section .content .middle-wrapper .options-wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .subscribe-section .content .middle-wrapper .options-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.subscribe-section .content .middle-wrapper .options-wrapper .option {
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 5px;
}
@media (min-width: 768px) {
  .subscribe-section .content .middle-wrapper .options-wrapper .option {
    width: calc(50% - 10px);
  }
}
@media (min-width: 992px) {
  .subscribe-section .content .middle-wrapper .options-wrapper .option {
    width: calc(33.33% - 10px);
  }
}
.subscribe-section .content .middle-wrapper .options-wrapper .option label {
  white-space: nowrap;
}
.subscribe-section .content .subscribe-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .subscribe-section .content .subscribe-input-wrapper {
    flex-direction: row;
  }
}
.subscribe-section .content .subscribe-input-wrapper .input {
  flex-grow: 1;
  height: 52px;
  padding: 0 16px;
  border: 1px solid #d4d7e5;
  border-radius: 6px;
  font-family: inherit;
}
.subscribe-section .content .terms-span {
  color: #6366f1;
}

.signin-section {
  background-color: aquamarine;
}

.footer-section {
  padding: 65px;
  background-color: #ffffff;
  z-index: 1;
}
.footer-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 857px;
  text-align: center;
}
.footer-section .content .social-media-wrapper {
  display: flex;
  gap: 16px;
}
.footer-section .content .social-media-wrapper .social-media-icon {
  font-size: 20px;
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color: #eff2fc;
  border-radius: 6px;
}

.courses-section {
  min-height: 50vh;
}
.courses-section .content {
  display: flex;
  flex-direction: column;
}
.courses-section .content .heading-wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px 0 40px 0;
}
@media (min-width: 992px) {
  .courses-section .content .heading-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.courses-section .content .heading-wrapper .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 992px) {
  .courses-section .content .heading-wrapper .input-wrapper {
    flex-direction: row;
    gap: 24px;
  }
}
.courses-section .content .heading-wrapper .input-wrapper .input {
  height: 44px;
  width: 100%;
  min-width: 240px;
  padding: 0 16px;
  border: 1px solid #d4d7e5;
  border-radius: 6px;
  font-family: inherit;
}
.courses-section .content .heading-wrapper .input-wrapper .input:last-child {
  min-width: 300px;
}
.courses-section .content .heading-wrapper .input-wrapper .input::placeholder {
  color: #b4b7c9;
}
.courses-section .content .heading-wrapper .input-wrapper .search-wrapper {
  position: relative;
  width: 100%;
}
.courses-section .content .heading-wrapper .input-wrapper .search-wrapper .fa-magnifying-glass {
  position: absolute;
  right: 16px;
  top: 14px;
  color: #33354d;
}
.courses-section .content .card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
@media (min-width: 576px) {
  .courses-section .content .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .courses-section .content .card-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.courses-section .content .card-wrapper .card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.courses-section .content .card-wrapper .card .top-wrapper {
  flex: 0 1 50%;
  position: relative;
}
.courses-section .content .card-wrapper .card .top-wrapper .img {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 8px 8px 0 0;
}
.courses-section .content .card-wrapper .card .top-wrapper .card-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0 8px;
  background-color: #22c55e;
  color: #ffffff;
}
.courses-section .content .card-wrapper .card .top-wrapper .card-save {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 50%;
}
.courses-section .content .card-wrapper .card .top-wrapper .card-save i {
  margin: 0 0 -2px 0;
  font-size: 18px;
  color: #33354d;
}
.courses-section .content .card-wrapper .card .bottom-wrapper {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.courses-section .content .card-wrapper .card .bottom-wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.courses-section .content .card-wrapper .card .bottom-wrapper .text-wrapper .h6 {
  color: #6366f1;
}
.courses-section .content .card-wrapper .card .bottom-wrapper .text-wrapper .price-wrapper {
  display: flex;
  gap: 8px;
}
.courses-section .content .card-wrapper .card .bottom-wrapper .text-wrapper .price-wrapper .discount {
  color: #ef4444;
}
.courses-section .content .card-wrapper .card .bottom-wrapper .text-wrapper .price-wrapper .ord {
  text-decoration: line-through;
  color: #9397ad;
}
.courses-section .content .card-wrapper .card .bottom-wrapper .meta-wrapper {
  display: flex;
  gap: 24px;
  padding-top: 24px;
  border-top: 1px solid #e2e5f1;
  color: #9397ad;
}
.courses-section .content .card-wrapper .card:hover {
  text-decoration: none !important;
}
.courses-section .content .pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
}
.courses-section .content .pagination-wrapper .page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
}
.courses-section .content .pagination-wrapper .page-number.active {
  background-color: #eff2fc;
}
.courses-section .content .pagination-wrapper .page-number:hover:not(.active) {
  color: #ffffff;
  background-color: #6366f1;
}

.banner-section {
  padding: 64px 0;
}
@media (min-width: 992px) {
  .banner-section {
    padding: 96px 0;
  }
}
.banner-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: #f3f6ff;
  padding: 32px 16px;
  border-radius: 8px;
}
@media (min-width: 992px) {
  .banner-section .content {
    flex-direction: row;
    justify-content: center;
    padding: 32px 110px;
  }
}
.banner-section .content .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}
.banner-section .content .text-wrapper .span-skills {
  color: #6366f1;
}
.banner-section .content .text-wrapper a {
  margin-top: 24px;
}
@media (min-width: 992px) {
  .banner-section .content .text-wrapper {
    align-items: flex-start;
    text-align: left;
    width: 50%;
  }
}
.banner-section .content .img-wrapper img {
  width: 100%;
}

.account-content {
  grid-template-columns: 1fr;
}
@media (min-width: 992px) {
  .account-content {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
.account-content .mobile-heading {
  display: block;
}
@media (min-width: 992px) {
  .account-content .mobile-heading {
    display: none;
  }
}
.account-content .desktop-heading {
  display: none;
}
@media (min-width: 992px) {
  .account-content .desktop-heading {
    display: block;
  }
}
@media (min-width: 992px) {
  .account-content .account-courses-section {
    padding-top: 56px;
    padding-left: 122px;
  }
}
.account-content .account-courses-section .heading-wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px 0 40px 0;
}
@media (min-width: 992px) {
  .account-content .account-courses-section .heading-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
.account-content .account-courses-section .card-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
@media (min-width: 768px) {
  .account-content .account-courses-section .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .account-content .account-courses-section .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
.account-content .account-courses-section .card-wrapper .card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}
.account-content .account-courses-section .card-wrapper .card .top-wrapper {
  flex: 0 1 50%;
  position: relative;
}
.account-content .account-courses-section .card-wrapper .card .top-wrapper .img {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 8px 8px 0 0;
}
.account-content .account-courses-section .card-wrapper .card .top-wrapper .card-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0 8px;
  background-color: #22c55e;
  color: #ffffff;
}
.account-content .account-courses-section .card-wrapper .card .top-wrapper .card-save {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border-radius: 50%;
}
.account-content .account-courses-section .card-wrapper .card .top-wrapper .card-save i {
  margin: 0 0 -2px 0;
  font-size: 18px;
  color: #33354d;
}
.account-content .account-courses-section .card-wrapper .card .bottom-wrapper {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.account-content .account-courses-section .card-wrapper .card .bottom-wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.account-content .account-courses-section .card-wrapper .card .bottom-wrapper .text-wrapper .h6 {
  color: #6366f1;
}
.account-content .account-courses-section .card-wrapper .card .bottom-wrapper .meta-wrapper {
  display: flex;
  gap: 24px;
  padding-top: 24px;
  border-top: 1px solid #e2e5f1;
  color: #9397ad;
}

.breadcrumbs-section {
  padding-top: 40px;
  width: 100%;
}
.breadcrumbs-section .br-content {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 !important;
}
.breadcrumbs-section .br-content .breadcrumb {
  color: #9397ad;
}
.breadcrumbs-section .br-content .fa-house {
  font-size: 18px;
}

.contact-bg {
  background-color: #f3f6ff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 21px;
}
form .form-heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}
form .input-wrapper {
  display: flex;
  flex-direction: column;
}
form .input-wrapper .input {
  border: 1px solid #d4d7e5;
  border-radius: 8px;
  height: 52px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
}
form .input-wrapper .input::placeholder {
  opacity: 0.4;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
}
form .input-wrapper .input.input-validation-error {
  position: relative;
  border: 3px solid #ef4444;
  color: #ef4444;
}
form .input-wrapper .input.input-validation-error::placeholder {
  color: danger;
}
form .input-wrapper .input:focus {
  outline: none;
  border: 0.063rem solid #9397ad;
}
form .input-wrapper .input-top-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}
form .input-wrapper .input-top-wrapper .label {
  font-weight: 700;
}
form .input-wrapper .input-top-wrapper .optional {
  color: #9397ad;
}
form .input-wrapper .input-top-wrapper .span.field-validation-error {
  color: #ef4444;
}
form .input-wrapper .input-top-wrapper .span.field-validation-error::after {
  position: absolute;
  right: 10px;
  top: 40px;
  z-index: 1;
  display: block;
  content: "⮿";
  font-size: 24px;
}
form .input-wrapper .textarea {
  height: 104px;
  border: 1px solid #d4d7e5;
  border-radius: 8px;
  padding: 16px;
  font-family: inherit;
}
form .input-wrapper .textarea::placeholder {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #565973;
  font-family: "Manrope", sans-serif;
  opacity: 0.4;
}
form .input-pair-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 992px) {
  form .input-pair-wrapper {
    flex-direction: row;
  }
}
form .input-pair-wrapper .input-wrapper {
  flex-grow: 1;
}
form .checkbox-wrapper > div {
  display: flex;
  gap: 8px;
}
form .checkbox-wrapper .span.field-validation-error {
  color: #ef4444;
}
form .button {
  height: 52px;
  font-weight: 700;
}

.colored-subheading {
  color: #6366f1;
}

.sign-in-section {
  padding-top: 100px;
}
.sign-in-section .content {
  max-width: 526px;
  display: flex;
  flex-direction: column;
}
.sign-in-section .formLink {
  text-align: center;
  margin-bottom: 37px;
}
.sign-in-section .external-account-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-top: 1px solid #d4d7e5;
  padding-top: 24px;
}
.sign-in-section .external-account-wrapper .social-media-button-wrapper {
  display: flex;
  width: 100%;
  gap: 24px;
}
.sign-in-section .external-account-wrapper .social-media-button-wrapper a {
  height: 52px;
  width: calc(50% - 12px);
}
.sign-in-section .external-account-wrapper .social-media-button-wrapper a i {
  font-size: 18px;
}

.sign-up-section {
  padding-top: 100px;
}
.sign-up-section .content {
  max-width: 526px;
  display: flex;
  flex-direction: column;
}

.account-details-section .account-content .account-form-section .address-form {
  margin-top: 48px;
  padding-top: 40px;
  border-top: 1px solid #d4d7e5;
}

.account-security-section .delete-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 31px;
  border-top: 1px solid #d4d7e5;
}
.account-security-section .delete-wrapper form .checkbox-wrapper {
  margin-top: 8px;
}
.account-security-section .delete-wrapper .button {
  margin-top: 16px;
  align-self: flex-start;
}

.account-content {
  grid-template-columns: 1fr;
}
@media (min-width: 992px) {
  .account-content {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}
.account-content .mobile-heading {
  display: block;
}
@media (min-width: 992px) {
  .account-content .mobile-heading {
    display: none;
  }
}
.account-content .desktop-heading {
  display: none;
}
@media (min-width: 992px) {
  .account-content .desktop-heading {
    display: block;
  }
}
.account-content .account-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  padding: 40px 12px 50px 0;
}
@media (min-width: 992px) {
  .account-content .account-aside {
    border-right: 1px solid #d4d7e5;
  }
}
.account-content .account-aside .profile-img {
  margin-bottom: 16px;
  width: 120px;
  height: 120px;
}
.account-content .account-aside .aside-button-wrapper {
  display: flex;
  margin-top: 32px;
  flex-direction: column;
}
@media (min-width: 992px) {
  .account-content .account-aside .aside-button-wrapper {
    width: 100%;
  }
}
.account-content .account-aside .aside-button-wrapper .aside-button {
  height: 50px;
  font-weight: 700;
  display: flex;
}
@media (min-width: 992px) {
  .account-content .account-aside .aside-button-wrapper .aside-button {
    justify-content: flex-start;
  }
}
.account-content .account-aside .aside-button-wrapper .aside-button i {
  color: #9397ad;
}
.account-content .account-aside .aside-button-wrapper .aside-button:hover {
  text-decoration: none !important;
}
.account-content .account-aside .aside-button-wrapper .active {
  box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.9);
  background: #6366f1;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 13px;
}
@media (min-width: 992px) {
  .account-content .account-form-section {
    padding-top: 56px;
    padding-left: 122px;
  }
}
.account-content .account-form-section .password-form {
  padding-bottom: 40px;
}
.account-content .account-form-section .button-wrapper {
  display: fleX;
  gap: 16px;
}
.account-content .account-form-section .button-wrapper .button {
  min-width: calc(50% - 8px);
}
@media (min-width: 992px) {
  .account-content .account-form-section .button-wrapper .button {
    min-width: auto;
  }
}

.error-section {
  flex-grow: 1;
}
.error-section .error-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-section .error-content .img {
  max-width: 90%;
}
.error-section .error-content .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.error-section .error-content .text-wrapper p {
  text-align: center;
}
.error-section .error-content .text-wrapper a {
  margin-top: 34px;
}

.contact-section {
  background-color: #f3f6ff;
  padding-top: 72px;
}
.contact-section .contact-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .contact-section .contact-content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.contact-section .contact-content .right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}
.contact-section .contact-content .right-wrapper .contact-way-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}
.contact-section .contact-content .right-wrapper .contact-way-wrapper .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 50%;
}
.contact-section .contact-content .right-wrapper .contact-way-wrapper .icon-wrapper i {
  font-size: 28px;
  color: #6366f1;
}
.contact-section .contact-content .right-wrapper .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 306px;
}
.contact-section .contact-content .form-wrapper {
  background-color: #ffffff;
  border-radius: 8px;
  z-index: 1;
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .contact-section .contact-content .form-wrapper {
    padding: 40px;
  }
}
@media (min-width: 992px) {
  .contact-section .contact-content .form-wrapper {
    width: 45%;
  }
}
@media (min-width: 1200px) {
  .contact-section .contact-content .form-wrapper {
    padding: 72px;
    width: 45%;
  }
}
.contact-section .contact-content .form-wrapper textarea {
  padding: 16px;
  height: 200px;
}
.contact-section .contact-content .form-wrapper button {
  align-self: flex-start;
}

.map-section {
  display: flex;
  position: relative;
}
@media (min-width: 992px) {
  .map-section {
    min-height: 200px;
  }
}
@media (min-width: 1200px) {
  .map-section {
    min-height: 300px;
  }
}
@media (min-width: 1400px) {
  .map-section {
    min-height: 400px;
  }
}
.map-section .bg {
  width: 100%;
}
@media (min-width: 992px) {
  .map-section .bg {
    position: absolute;
    top: -250px;
    left: 0;
  }
}

.single-course-top-section .content {
  color: #b4b7c9;
  padding: 72px 0 112px 0;
}
.single-course-top-section .content .badge-wrapper {
  display: flex;
  gap: 8px;
}
.single-course-top-section .content .badge-wrapper p {
  padding: 0 8px;
  border-radius: 4px;
}
.single-course-top-section .content .badge-wrapper .is-bestseller {
  background-color: #22c55e;
  color: #ffffff;
}
.single-course-top-section .content .badge-wrapper .type {
  background-color: #eff2fc;
}
.single-course-top-section .content .h1 {
  color: #ffffff;
}
.single-course-top-section .content .meta-wrapper {
  display: flex;
  gap: 16px;
  margin-top: 50px;
}
.single-course-top-section .content .meta-wrapper p {
  color: #b4b7c9;
}
.single-course-top-section .content .fa-star {
  color: #ffba08;
}
.single-course-top-section .content .fa-regular {
  color: inherit;
}
.single-course-top-section .content .author-wrapper {
  display: flex;
  gap: 16px;
  margin-top: 160px;
}
.single-course-top-section .content .author-wrapper p {
  color: white;
}

.single-course-info-section .content {
  padding: 50px 0;
}
@media (min-width: 768px) {
  .single-course-info-section .content {
    padding: 96px 0;
  }
}
.single-course-info-section .content .top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .single-course-info-section .content .top-wrapper {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.single-course-info-section .content .top-wrapper .right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media (min-width: 768px) {
  .single-course-info-section .content .top-wrapper .right-wrapper {
    max-width: 50%;
  }
}
.single-course-info-section .content .top-wrapper .right-wrapper .learning-heading {
  margin-top: 8px;
}
.single-course-info-section .content .top-wrapper .right-wrapper .learning-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.single-course-info-section .content .top-wrapper .right-wrapper .learning-wrapper .learning {
  display: flex;
  align-items: center;
  gap: 8px;
}
.single-course-info-section .content .top-wrapper .right-wrapper .learning-wrapper .learning .fa-circle-check {
  color: #6366f1;
}
.single-course-info-section .content .top-wrapper .aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  min-width: 35%;
  padding: 40px;
  border: 1px solid #e2e5f1;
  border-radius: 8px;
  box-shadow: 0px 4px 9px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
}
.single-course-info-section .content .top-wrapper .aside .includes-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.single-course-info-section .content .top-wrapper .aside .includes-wrapper .include {
  display: flex;
  align-items: center;
  gap: 12px;
}
.single-course-info-section .content .top-wrapper .aside .price-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}
.single-course-info-section .content .top-wrapper .aside .price-wrapper .discount {
  text-decoration: line-through;
  color: #9397ad;
}
@media (min-width: 1200px) {
  .single-course-info-section .content .bottom-wrapper {
    max-width: 50%;
  }
}
.single-course-info-section .content .bottom-wrapper .details-heading {
  margin-top: 56px;
}
.single-course-info-section .content .bottom-wrapper .details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 8px;
}
.single-course-info-section .content .bottom-wrapper .details-wrapper .detail {
  display: flex;
  gap: 30px;
}
.single-course-info-section .content .bottom-wrapper .details-wrapper .detail .number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 14px solid #f3f6ff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.single-course-author-section .content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .single-course-author-section .content {
    flex-direction: row-reverse;
  }
}
.single-course-author-section .content .text-wrapper {
  background-image: url("../../../images/pattern.svg");
  background-color: #0b0f19;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 40px 25px;
}
@media (min-width: 768px) {
  .single-course-author-section .content .text-wrapper {
    padding: 45px 50px;
  }
}
@media (min-width: 992px) {
  .single-course-author-section .content .text-wrapper {
    padding: 96px 110px;
  }
}
.single-course-author-section .content .text-wrapper .text-content {
  max-width: 530px;
}
.single-course-author-section .content .text-wrapper .text-content .intro-span {
  color: #b4b7c9;
}
.single-course-author-section .content .text-wrapper .text-content .heading {
  color: #ffffff;
}
.single-course-author-section .content .text-wrapper .text-content .copy {
  color: #b4b7c9;
}
.single-course-author-section .content .text-wrapper .text-content .meta-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  color: #ffffff;
  margin-top: 40px;
}
.single-course-author-section .content .text-wrapper .text-content .meta-wrapper .meta-yt,
.single-course-author-section .content .text-wrapper .text-content .meta-wrapper .meta-fb {
  padding: 11px 28px;
}
.single-course-author-section .content .text-wrapper .text-content .meta-wrapper .meta-yt {
  background-color: #ef4444;
}
.single-course-author-section .content .text-wrapper .text-content .meta-wrapper .meta-fb {
  background-color: #4c82f7;
}
.single-course-author-section .content .img-wrapper .author-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
